.navbar {
    height: 80%;
    width: 100%;
    background-color: #D2B48C;
    padding-top: 1px;
    padding-bottom: 1px;
}

.sidenav {
    background-color: #857d7d;
    border-radius: 20px;
}

button {
    border: 0;
    background-color: #857d7d;
    border-radius: 5px;
}

a {
    border-radius: 5px;
}